
div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.bootstrap-switch .bootstrap-switch-handle-on, .bootstrap-switch .bootstrap-switch-handle-off, .bootstrap-switch .bootstrap-switch-label {
  /*font-size: 1rem;*/
  font-weight: 800;
}

div.scrollmenu a:hover {
  background-color: #777;
}
.image-input .image-input-wrapper {
  width: 14rem;
  height: 14rem;
}

.tagify {
  min-height: calc(1em + 0.5rem);
  padding: 1rem;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height:1;
}

.btn.btn-tool {
  color: #ffffff;
  background-color: #9e7382;
  border-color: #ffffff;
  font-weight:900;
}


#datatable.table, #datatable1.table, #datatable2.table, #datatable3.table tr td {
  padding: 0 0;
  font-size: 1rem;
}

table tr td>.btn.btn-icon{
  height: calc(1em + 1rem + 2px);
  width: calc(1em + 1rem + 2px);
}

button.btn{
  padding: 0.5rem 0.5rem;
  font-weight:600;
}

table.dataTable thead tr {
  background-color: #f54d5f;
}

table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > td.sorting_asc, table.dataTable thead > tr > td.sorting_desc, table.dataTable thead > tr > td.sorting {
  padding: 1px 20px;
  font-size: 1rem;
  font-weight: 800;
}

.dataTables_wrapper .dataTable th, .dataTables_wrapper .dataTable td {
  padding: 0.5rem 20px;
}

.dataTables_wrapper .dataTable {
  margin: 0.5rem 0 !important;
}

.dataTables_wrapper .dataTable th.sorting_asc, .dataTables_wrapper .dataTable th.sorting_desc, .dataTables_wrapper .dataTable td.sorting_asc, .dataTables_wrapper .dataTable td.sorting_desc {
  color: #ffffff !important;
}

.dataTables_wrapper .dataTable th.sorting_asc:before, .dataTables_wrapper .dataTable th.sorting_asc:after, .dataTables_wrapper .dataTable th.sorting_desc:before, .dataTables_wrapper .dataTable th.sorting_desc:after, .dataTables_wrapper .dataTable td.sorting_asc:before, .dataTables_wrapper .dataTable td.sorting_asc:after, .dataTables_wrapper .dataTable td.sorting_desc:before, .dataTables_wrapper .dataTable td.sorting_desc:after {
  opacity: 1;
  color: #ffffff !important;
}

.dataTables_wrapper .dataTable tbody tr.selected td {
  background-color: #ECF0F3;
  border-left-color: #ECF0F3;
  border-right-color: #ECF0F3;
  color: #464E5F;
  font-weight: 900;
}

.dt-body-nowrap {
  white-space: nowrap;
}

.custom-select-sm {
  height: calc(1em + 1rem);
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0.75rem;
  font-size: 0.925rem;
}

/*.form-control-sm {
height: calc(1em + 1rem);
padding: 0 1em;
font-size: 0.925rem;
line-height: 1.35;
border-radius: 0.28rem;
}*/

html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 10px !important;
  font-weight: 800;
  font-family: Poppins, Helvetica, "sans-serif";
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
